# Server Configuration
APP_PORT=8081
APP_ENV=development
APP_NAME="Data Anggota Pelajar NU Magetan"
APP_URL=http://localhost:3000
API_URL=http://localhost:8081

# Database Configuration (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=anggota_pelajarnu
DB_SSLMODE=disable

# Cache & Queue Configuration (Redis)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Security & Encryption
# ENCRYPTION_KEY must be exactly 32 bytes (for AES-256 GCM)
ENCRYPTION_KEY=1d15058c8ea6c89aa1c3ebc960aef1fc723f83bc2200c9357b047e12eea530d8

# SSO OAuth2 Configuration
SSO_CLIENT_ID=fcd16d470278ec22db4df94740198b10
SSO_CLIENT_SECRET=e4dc708be02a982f3a63be8b795f7afc39f7ba4cb7a770cae5e8d4d1380c1b00
SSO_CALLBACK_URL=http://localhost:3000/api/auth/callback/sso
SSO_VALIDATE_URL=http://localhost:8080/v1/auth/validate
